* {
    margin: 0;
    padding: 0;
}

.navitem{
    height: 50px;
    background-color: rgb(17, 17, 73);
}

.navmenu{
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin-top: 10px;
}

li{
    display: inline;
    padding: 70px;
    text-decoration: none;
    color: white;

}
.mainDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.userDiv{
    border: 1px solid black;
    width:  200px;
    height: 200px;
    display: inline-block;
    margin: 50px 80px;
    text-align: center;
}

img{
    display: block;
    padding-left: 35px;
    margin: 10px;    
}

.flag-geo{
   width: 30px; 
   height: 30px ;
   margin-left: 100px;
}

.flag-usa{
    width: 30px; 
    height: 30px;
 }